<!DOCTYPE html>
<html>

<body>
    {% for line in body %}
    <p>{{ line }}</p>
    {% endfor %}

    <!-- Footer -->
    <div style="margin-top: 20px; padding-top: 10px; border-top: 1px solid #ccc;">
        <img src="logo.txt" alt="Realtor Buddy Logo" style="width: 100px; height: 100px;">
        <p>Ali Hamza<br>Cofounder<br>
            <a href="mailto:ali@realtor-buddy.com">ali@realtor-buddy.com</a><br>
            Check us out at: <a href="https://realtor-buddy.com">realtor-buddy.com</a>
        </p>
    </div>
</body>

</html>