<html>
<body>
<p>Hello Ashir,</p>

<p>Are you a locator who needs to know what buildings cooperate in your area and are tired of calling them to find out? Text us and have us do the heavy lifting of finding out what buildings pay you and how much!</p>

<!-- Footer -->
<div style="margin-top: 20px; padding-top: 10px; border-top: 1px solid #ccc;">
    <img src="" alt="Realtor Buddy Logo" style="width: 100px; height: 100px; margin-top: 20px; margin-bottom: 20px; display: block; margin-left: auto; margin-right: auto;">
    <p>Ali Hamza<br>Cofounder<br>
    <a href="mailto:ali@realtor-buddy.com">ali@realtor-buddy.com</a><br>
    Check us out at: <a href="https://realtor-buddy.com">realtor-buddy.com</a></p>
</div>
</body>
</html>
